---
import { getI18N } from "../i18n/";
import LanguageIcon from "./icons/LanguageIcon.astro";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const LANGUAGES = [
    {
        id: "es",
        language: `${i18n.NAV_LANGUAGE_SPANISH}`,
        link: "/website",
    },
    {
        id: "en",
        language: `${i18n.NAV_LANGUAGE_ENGLISH}`,
        link: "/website/en",
    },
];

const otherlanguages = LANGUAGES.filter((e) => e.id != i18n["LANG"]);
---

<div class="relative ml-8 flex justify-center items-center">
    <button
        id="language-toggle-btn"
        class="flex hover:scale-110 h-full justify-center items-center"
    >
        <LanguageIcon
            class="language-toggle-icon absolute size-6 text-gray-700 dark:text-white/80"
        />
    </button>
    <div
        id="languages-menu"
        class="top-8 absolute right-2 hidden text-black bg-neutral-200/70 font-medium rounded-lg text-sm dark:text-white dark:bg-gray-800/90 border-2 border-gray-500"
    >
        <ul>
            {
                otherlanguages.map((language) => (
                    <li class="hover:bg-white/80 dark:hover:bg-gray-700 rounded-md px-3 py-2">
                        <a
                            id={language.id}
                            class="languages-menu-option"
                            href={language.link}
                        >
                            {language.language}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</div>

<script is:inline>
    const languageToggleBtn = document.getElementById("language-toggle-btn");
    const languagesMenu = document.getElementById("languages-menu");
    const languagesMenuOption = document.querySelectorAll(
        ".languages-menu-option",
    );

    document.addEventListener("click", () => {
        languagesMenu.classList.remove("inline");
        languagesMenu.classList.add("hidden");
    });

    languageToggleBtn.addEventListener("click", (e) => {
        e.stopPropagation();
        languagesMenu.classList.toggle("inline");
        languagesMenu.classList.toggle("hidden");
    });

    languagesMenuOption.forEach((language) => {
        language.addEventListener("click", (e) => {
            
        });
    });
</script>
